web/WEB-INF/wsdl/www.learnwebservices.com/services/hello.wsdl_HelloEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://learnwebservices.com/services/hello" name="HelloEndpoint" targetNamespace="http://learnwebservices.com/services/hello">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://learnwebservices.com/services/hello" elementFormDefault="qualified" targetNamespace="http://learnwebservices.com/services/hello" version="1.0">

  <xs:element name="SayHello" type="tns:SayHello"/>

  <xs:element name="SayHelloResponse" type="tns:SayHelloResponse"/>

  <xs:complexType name="SayHello">
    <xs:sequence>
      <xs:element name="HelloRequest" type="tns:helloRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloRequest">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SayHelloResponse">
    <xs:sequence>
      <xs:element name="HelloResponse" type="tns:helloResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element name="Message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloResponse">
    <wsdl:part element="ns1:SayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SayHello">
    <wsdl:part element="ns1:SayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloEndpoint">
    <wsdl:operation name="SayHello">
      <wsdl:input message="ns1:SayHello" name="SayHello">
    </wsdl:input>
      <wsdl:output message="ns1:SayHelloResponse" name="SayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>